section {
  position: relative;
  height: 12rem;
  width: 12rem;
  border-radius: 0.5rem;
  outline: 2px solid #555;
  padding: 5px;
  overflow: hidden;
}

section:focus-within {
  outline: 3px auto Highlight;
  outline: 3px auto -webkit-focus-ring-color;
}

input {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 12rem;
  width: 12rem;
  background-color: transparent;
  padding: 0px;
  border: none;
  color: transparent;
  caret-color: black;
  text-align: center;
  font-size: 9rem;
  margin: 5px;
}

.gridAdapter {
  margin: auto;
}

input:focus {
  outline: none;
}

.warning {
  position: fixed;
}

.warn2 {
  color: red;
  position: relative;
  top: -5em;
}