div {
  display: flex;
  box-sizing: border-box;
  font-family: 'Noto Serif SC', serif;
  border-radius: 0.3rem;
  outline: 1px solid white;
}

span {
  transform-origin: top left;
  margin-top: -0.05em;
}

div.Col {
  flex-direction: column;
}

div.Row {
  flex-direction: row;
}

div.Outer {
  position: relative;
}

div.Inner {
  position: absolute;
}

.unknown {
  box-shadow: none;
  background-color: white;
}

.absent {
  background-color: #787c7e;
  color: white;
}

.present {
  background-color: #c9b458;
  color: white;
}

.correct {
  background-color: #6aaa64;
  color: white;
}