div {
  display: flex;
  box-sizing: border-box;
  font-family: 'Noto Serif SC';
  border-radius: 1rem;
}

span {
  transform-origin: top left;
  margin-top: -0.07em;
}

div.Col {
  flex-direction: column;
}

div.Row {
  flex-direction: row;
}

.Idk {
  background-color: transparent;
}

.absent {
  background-color: #787c7e;
}

.present {
  background-color: #c9b458;
}

.correct {
  background-color: #6aaa64;
}