.guessGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(12rem + 10px));
  grid-template-rows: repeat(auto-fit, calc(12rem + 10px));
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  grid-gap: 5px;
}

.previousGuess {
  padding: 5px;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.giveHint {
  all: unset;
  height: 6rem;
  width: 6rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  font-family: 'Noto Serif SC', serif;
  font-size: 2rem;
  border: 3px solid #555;
}

.giveHint:hover {
  background-color: #EEE
}

.giveHint:focus {
  background-color: #AAA
}