.guessGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(12rem + 10px));
  grid-template-rows: repeat(auto-fit, calc(12rem + 10px));
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  justify-self: flex-start;
}

.previousGuess {
  padding: 5px;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}