.horizontalAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guessGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  column-gap: 8px;
  row-gap: 8px;
}

.previousGuess {
  padding: 5px;
  margin: auto;
}