header {
  padding: 1em;
  padding-left: 3em;
  font-family: 'Noto Serif SC', 'Times New Roman', serif;
  box-shadow: 2px 0px 5px black;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  all: unset;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;

}

.help {
  border: 2px solid #555;
  color: #555;
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}